In [4]:
# Dependencies
import pandas as pd
import csv, os

In [5]:
# File paths
data_path_1 = "Resources/WH_2015.csv"
data_path_2 = "Resources/WH_2016.csv"
data_path_3 = "Resources/WH_2017.csv"
data_path_4 = "Resources/WH_2018.csv"
data_path_5 = "Resources/WH_2019.csv"

In [6]:
# Read CSV
wh_2015_db = pd.read_csv(data_path_1)
wh_2016_db = pd.read_csv(data_path_2)
wh_2017_db = pd.read_csv(data_path_3)
wh_2018_db = pd.read_csv(data_path_4)
wh_2019_db = pd.read_csv(data_path_5)

In [7]:
wh_2015_db.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [19]:
# Drop unwanted columns
wh_2015_v1 = wh_2015_db.loc[:, ["Country",
                                                "Happiness Rank",
                                                "Happiness Score"]]

wh_2016_v1 = wh_2016_db.loc[:, ["Country",
                                                "Happiness Rank",
                                                "Happiness Score"]]

combined_df=  pd.merge(wh_2015_v1,wh_2016_v1, on = ["Country"], how = "outer")

combined_df

,Country,Happiness Rank_x,Happiness Score_x,Happiness Rank_y,Happiness Score_y
0,Switzerland,1.0,7.587,2.0,7.509
1,Iceland,2.0,7.561,3.0,7.501
2,Denmark,3.0,7.527,1.0,7.526
3,Norway,4.0,7.522,4.0,7.498
4,Canada,5.0,7.427,6.0,7.404
...,...,...,...,...,...
159,Belize,NaN,NaN,52.0,5.956
160,Somalia,NaN,NaN,76.0,5.440
161,Somaliland Region,NaN,NaN,97.0,5.057
162,Namibia,NaN,NaN,113.0,4.574
163,South Sudan,NaN,NaN,143.0,3.832