In [1]:
# Dependencies
import pandas as pd
import csv, os

In [2]:
# File paths
data_path_1 = "Resources/WH_2015.csv"
data_path_2 = "Resources/WH_2016.csv"
data_path_3 = "Resources/WH_2017.csv"
data_path_4 = "Resources/WH_2018.csv"
data_path_5 = "Resources/WH_2019.csv"

In [3]:
# Read CSV
wh_2015_db = pd.read_csv(data_path_1)
wh_2016_db = pd.read_csv(data_path_2)
wh_2017_db = pd.read_csv(data_path_3)
wh_2018_db = pd.read_csv(data_path_4)
wh_2019_db = pd.read_csv(data_path_5)

In [4]:
wh_2015_db.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [6]:
# Drop unwanted columns
wh_2015_v1 = wh_2015_db.loc[:, ["Country",
                                                "Region",
                                                "Happiness Rank",
                                                "Happiness Score"]]
wh_2015_v1["Year"] = 2015

wh_2016_v1 = wh_2016_db.loc[:, ["Country",
                                                "Region",
                                                "Happiness Rank",
                                                "Happiness Score"]]
wh_2016_v1["Year"] = 2016

,Country,Region,Happiness Rank,Happiness Score,Year
0,Switzerland,Western Europe,1,7.587,2015
1,Iceland,Western Europe,2,7.561,2015
2,Denmark,Western Europe,3,7.527,2015
3,Norway,Western Europe,4,7.522,2015
4,Canada,North America,5,7.427,2015
...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,2015
154,Benin,Sub-Saharan Africa,155,3.340,2015
155,Syria,Middle East and Northern Africa,156,3.006,2015
156,Burundi,Sub-Saharan Africa,157,2.905,2015
157,Togo,Sub-Saharan Africa,158,2.839,2015